.error{
    text-align: center;
}
.content {
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    height: 70vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border-style: solid;
    border-color: #d4af37;
}

.user-info{
    grid-area: 1 / 1 / 5 / 2; 
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

img{
    width: 10rem;
}

.username{
    display: flex;
    font-size: 3em;
    text-align: center;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}

.username a{
    min-width: 20px;
    max-width: 30px;
}
.username a img{
    width: 100%;
    height: 100%;
}

.photos{
    grid-area: 1 / 2 / 5 / 6; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
}

.photo{
    width: 30%;
}

.photo :hover{
cursor: pointer;
}

a { 
    text-decoration: none; 
    color: inherit;
}

.username a:hover{
    cursor: pointer;
}

.back{
    grid-area: 5 / 1 / 6 / 2;
    align-items: center;
    justify-content: center;
}

.back button {
    border: none;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    margin-left: 25%;
  }

  @media only screen and (max-height: 550px) {
    .save{
        height: 30px;
        margin-top: 10%;
    }
    .photos .photo div img{
        width: 6rem;
    }
    .photos  {
        margin-top: 10%;
        margin-left: 10%;
    }
    .user-image{
        padding-left: 33%;
    }

    .user-image img{
        width: 50%;
    }

    .username{
        font-size: 100%;
    }
  }
  @media only screen and (max-width: 900px) {
    .photos .photo div img{
        width: 6rem;
    }
  }

  @media only screen and (max-width: 500px) {
    .photos .photo div img{
        width: 4rem;
    }
  }

  @media only screen and (max-width: 600px) {
    
    .photos{
        align-self: center;
        margin-left: 10%;
        margin-top: 5%;
    }

    .save{
        align-self: center;
        margin-left: 6%;
    }
    .back{
        align-self: center;
        margin-right: 5%;
    }
    .username img{
        max-width: 20px;
    }

    .content{
        display: flex;
        flex-direction: column;
        gap:10%;
        height: 120%;
    }

    .username{
        font-size: 2rem;
        margin: auto;
    }

    .link{
        height:6%;
    }
  }