
<div class="content">
    <div class="user-info">
        <div class="user-image">
            <img [src]="user.image" alt="{{user.username}} Image">
        </div>
        <div class="username">
            {{user.username}}
            <!-- <img src="https://www.vhv.rs/dpng/d/439-4390267_edit-modify-ico-edit-pencil-icon-png-transparent.png"> -->
        </div>
    </div>
    <div class="user-links">
        <a tabindex="0" (click)="biblioteca()" (keydown.enter)="biblioteca()">
            <div class="link">Library</div></a>
        <a tabindex="0" (click)="listas()" (keydown.enter)="listas()">
            <div class="link">Lists</div></a>
        <a tabindex="0" (click)="seguidores()" (keydown.enter)="seguidores()">
            <div class="link">Followers</div></a>
        <a tabindex="0" (click)="following()" (keydown.enter)="following()">
            <div class="link">Following</div></a>
    </div>
    <div class="back">
        <button type="button" (click)="goBack()">Go back</button>
    </div>
</div>

