<div class="error" *ngIf="error">{{error}}    <div class="back">
    <button type="button" (click)="goBack()">Go back</button>
</div></div>
<div *ngIf="!error" class="content">
    <div class="user-info">
        <div class="user-image">
            <img [src]="user.image" alt="user Image">
        </div>
        <div class="username">
            <div>{{user.username}}</div>
            <ng-container *ngIf="isLogged == true">
                <a tabindex="0" (click)="edit()" (keydown.enter)="edit()">
                    <img src="https://cdn-icons-png.flaticon.com/512/61/61456.png">
                </a>
            </ng-container>
            <ng-container *ngIf="isLogged == false">
              <button type="button" (click)="follow()">
                Follow
              </button>
            </ng-container>
        </div>
    </div>
    <div class="user-links">
        <a tabindex="0" (click)="biblioteca()" (keydown.enter)="biblioteca()">
            <div class="link">Library</div></a>
        <a tabindex="0" (click)="listas()" (keydown.enter)="listas()">
            <div class="link">Lists</div></a>
        <a tabindex="0" (click)="seguidores()" (keydown.enter)="seguidores()">
            <div class="link">Followers</div></a>
        <a tabindex="0" (click)="following()" (keydown.enter)="following()">
            <div class="link">Following</div></a>
    </div>
    <div class="back">
        <button type="button" (click)="goBack()">Go back</button>
    </div>
</div>

