
<div class="content">
    <div class="user-info">
        <div class="user-image">
            <img [src]="user.image" alt="{{user.username}} Image">
        </div>
        <div class="username">{{user.username}}</div>
    </div>
    <div class="user-links">
        <div class="link">library</div>
        <div class="link">lists</div>
        <div class="link">followers</div>
        <div class="link">following</div>
    </div>
    <div class="back">
        <button type="button" (click)="goBack()">Go back</button>
    </div>
</div>

