.content {
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    height: 70vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border-style: solid;
    border-color: #d4af37;
}

.user-info{
    grid-area: 1 / 1 / 5 / 2; 
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

img{
    width: 10rem;
}

.username{
    font-size: 3em;
    text-align: center;
    font-weight: bold;
    max-width: 100%;
}

.user-links{
    grid-area: 1 / 2 / 5 / 6; 
    display: flex;
    flex-direction: column;
    flex:5;
    gap:10%;
    align-items: center;
    justify-content: center;
}

a { 
    text-decoration: none; 
    color: inherit;
}

.user-links > *{
    font-size: 3rem;
    border: 3px solid #d4af37;
    transition: color 0.2s linear;
    transition: background-color 0.2s linear;
    width: 90%;
    text-align: center;
}

.user-links > *:hover{
    cursor: pointer;
    background-color: #b4952f;
    color: white;
}

.back{
    grid-area: 5 / 1 / 6 / 2;
    align-items: center;
    justify-content: center;
}

.back button {
    border: none;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    margin-left: 25%;
  }

  @media only screen and (max-height: 550px) {

    .user-links >*{
        gap:5%;
        max-height: 10%;
        font-size: 100%;
    }

    .user-image{
        padding-left: 33%;
    }

    .user-image img{
        width: 50%;
    }

    .username{
        font-size: 100%;
    }
  }

  @media only screen and (max-width: 600px) {
    .content{
        display: flex;
        flex-direction: column;
        gap:10%;
        height: 120%;
    }

    .username{
        font-size: 2rem;
    }

    .user-links > *{
        font-size: 2rem;
    }
    .user-links{
        gap:10px;
    }
    .link{
        height:6%;
    }
  }