.back{
    grid-area: 5 / 1 / 6 / 2;
    align-items: center;
    justify-content: center;
}

.back button {
    border: none;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

ul.wishlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.wishlist li {
    margin: 10px 0;
    padding: 10px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}
