<div class="dashboard">
    <h1 class="dashboard-title">Dashboard</h1>

    <h2> Welcome back!</h2>    

    <ul class="dashboard-links">
        <li tabindex="0" (click)="listas()" (keydown.enter)="listas()"><a>Lists</a></li>
        <li tabindex="0" (click)="biblioteca()" (keydown.enter)="biblioteca()"><a>Item library</a></li>
        <li tabindex="0" (click)="seguidores()" (keydown.enter)="seguidores()"><a>Followers</a></li>
        <li tabindex="0" (click)="following()" (keydown.enter)="following()"><a>Following</a></li>
        <li tabindex="0" (click)="profile()" (keydown.enter)="profile()"><a>Profile</a></li>
        <li tabindex="0" (click)="logout()" (keydown.enter)="logout()"><a>Logout</a>
    </ul>

    <div class="search">
        <p>Search for games here: </p>
        <app-item-search></app-item-search>
    </div>
</div>
