<div class="dashboard">
    <h1 class="dashboard-title">Dashboard</h1>

    <h2> Welcome back!</h2>    

    <ul class="dashboard-links">
        <li><a (click)="listas()">Listas</a></li>
        <li><a (click)="biblioteca()">Biblioteca de Itens</a></li>
        <li><a (click)="seguidores()">Followers</a></li>
        <li><a (click)="following()">Following</a></li>
        <li><a (click)="profile()">Perfil</a></li>
        <li><a (click)="logout()">Logout</a>
    </ul>

    <p>Search for games here: </p>
    <app-item-search></app-item-search>

</div>
