<div class="dashboard">
    <h1 class="dashboard-title">Dashboard</h1>

    <h2> Welcome back!</h2>    

    <ul class="dashboard-links">
        <li (click)="listas()"><a>Lists</a></li>
        <li (click)="biblioteca()"><a>Item library</a></li>
        <li (click)="seguidores()"><a>Followers</a></li>
        <li (click)="following()"><a>Following</a></li>
        <li (click)="profile()"><a>Profile</a></li>
        <li (click)="logout()"><a>Logout</a>
    </ul>

    <p>Search for games here: </p>
    <app-item-search></app-item-search>

</div>
