html, body{
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.item-details {
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    border-style: solid;
    border-color: #d4af37;
    max-height: 40%;
  }
  
  .item-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5%;
  }

  .main-box{
    flex: 5;
    display: flex;
    flex-direction: row;
    gap: 2%;
    padding-top: 1%;
  }

  .item-description{
    flex:3;
    text-align: justify;
  }

  .item-info {
    display: flex;
    flex-direction: row;
    padding: 1%;
    width: 100%;
    justify-content: center;
    gap:1%;
  }

  .info-left{
    flex: 1;
    display: flex;
    justify-self: start;
    gap:5%;
  }

  .info-right{
    justify-self: flex-end;
    display:flex;
    margin-right: 3%;
    align-self: flex-end;
  }

  .item-price{
    flex: 2;
    font-size: 6rem;
    margin: auto;
    text-align: right;
    color: #d4af37;
  }

  ul {
    list-style: none;
  }

  a:link { text-decoration: none; }


  .platform-li{
    display: inline;
  }

  .item-rating{
    justify-self: start;
    font-size: 5rem;
    margin-left: 2%;
    color: #d4af37;
  }

  .item-image{
    flex: 5;
    width: 50vw;
    align-self: center;
    justify-self: center;
    justify-content: center;
    align-items: center;
  }

  .item-details h2 {
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #d4af37;
  }
  
  .item-details .type {
    color: #808080;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .item-details .description {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .item-details .platforms, .item-details .languages {
    margin-bottom: 10px;
  }
  
  .item-details .platforms label, .item-details .languages label {
    font-weight: bold;
    margin-right: 5px;
  }
  
  .item-details .price, .item-details .rating, .item-details .reviews {
    margin-bottom: 10px;
  }
  
  .item-details .price label, .item-details .rating label, .item-details .reviews label {
    font-weight: bold;
    margin-right: 5px;
  }
  
  .item-details .price span, .item-details .rating span, .item-details .reviews span {
    font-size: 20px;
  }
  
  .item-details img {
    border-radius: 5px;
    min-width: 40vw;
    max-width: 50vw;
    min-height: 30%;
  }

  .item-reviews{
    margin-top: 1%;
  }

  li {
    margin: 10px;
    text-align: justify;
    }

    ul{
        padding: 0;
    }
  
  .item-details button {
    border: none;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
  }


  @media only screen and (max-width: 900px) {
    h2, .item-type{
      text-align: center;
      align-content: center;
      align-items: center;
    }
    .main-box{
      flex-direction: column;
    }
    .info-right{
      align-self: center;
    }

    .info-left{
      align-self: center;
      align-items: center;
      align-content: center;
    }
    .item-image{
      display: block;
      width: 100%;
      align-self: center;
      align-items: center;
      align-content: center;
      margin-left: auto;
      margin-right: auto;
    }

    img{
      display: block;
      width: 100%;
      align-self: center;
      align-items: center;
      align-content: center;
      margin-left: auto;
      margin-right: auto;
    }
    html, body{
      width: 100%;
      align-items: center;
      justify-content: center;
      margin: 0;
    }

    .item-info{
      flex-direction: column;
    }

    .info-left{
      flex-direction: column;
    }
  }

  @media only screen and (max-width: 400px) {
    .item-rating{
      font-size: 3rem;
    }
    .item-info{
      justify-content: center;
      align-items: center;
    }
    .item-price{
      font-size: 4rem;
      justify-self: center;
    }

    .info-right{
      align-items: center;
      justify-self: center;
      justify-content: center;
    }
  }

  
  
  