<div id="checkout-container">

    <h1 id="form-title">Checkout</h1>
  
    <form #checkoutForm="ngForm" (submit)="checkout()">
      <div class="form-group">
        <label for="nif">Enter your NIF:</label>
        <input
          type="text"
          class="form-control"
          name="nif"
          placeholder="NIF*"
          [(ngModel)]="nif"
        />
        <span class="label">NIF</span>
      </div>
  
      <div class="form-group">
        <label for="address">Enter your address:</label>
        <input
          type="text"
          class="form-control"
          name="address"
          placeholder="Address"
        />
        <span class="label">Address</span>
      </div>

      <div class="form-group">
            <label for="payment">Payment method:</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="paymentMethod" value="credit" checked>
                <label class="form-check-label" for="credit">Debit or credit card</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="paymentMethod" value="paypal">
                <label class="form-check-label" for="paypal">Paypal</label>
            </div>
      </div>

      <div *ngIf=!isValid>
        Please insert a valid NIF
      </div>

      <button type="submit" class="btn">Place order</button>
    </form>
  </div>
  
