<div>
    <h1 class="lists-title">User Lists</h1>

    <div *ngIf = "lists.length > 0; then thenBlock else elseBlock "></div>

    <ng-template #thenBlock>

        <div>
            <ng-container class="lists" *ngFor="let list of lists">
                <li *ngIf="canShow(list)">{{ list.name }}</li>
            </ng-container>
        </div>

    </ng-template>

    <ng-template #elseBlock>

        <h2> User does not have any custom list</h2>

    </ng-template>

    <div class="back">
        <button type="button" (click)="goBack()">Go back</button>
    </div>
    
</div>
