/* Application-wide Styles */
h1 {
    color: #d4af37;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
  }

  .title{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border-radius: 10px;
    border-style: solid;
    color: #d4af37;
    border-color: #d4af37;
    font-size: 250%;
    align-self: center;
    justify-self: center;
    margin-bottom: 2%;
  }

  h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
  }
  body {
    margin: 2em;
  }
  body, input[type="text"], button {
    color: #333;
    font-family: Cambria, Georgia, serif;
  }
  button {
    background-color: #eee;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: black;
    font-size: 1.2rem;
    padding: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  button:hover {
    background-color: black;
    color: white;
  }
  button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
  }

  .back button, .save button {
    background-color: #d4af37;
    color: black;
  }
  
  .back button:hover, .save button:hover {
    background-color: #b4952f;
  }

  .addToCart button {
    background-color: #d4af37;
    color: black;
  }
  
  .addToCart button:hover {
    background-color: #b4952f;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  #cart-btn{

    background-color: #b4952f;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    content: '\f07a';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
  }
  
  @media only screen and (max-width: 700px) {
    .title{
      margin: auto;
      margin-bottom: 1%;
    }
  }

  /* everywhere else */
  * {
    font-family: Arial, Helvetica, sans-serif;
  }